@import '_var';
.footer {
    background: $color1;
    padding: 30px 0px;
    font-size: 0.8em;
    .comments {
      color: $color4;
      form {
        padding: 0 2em 0 6em;
        background-color: $color1;
        .form-control {
          background-color: $color1; /* White background for the textarea */
          color: $color4; /* Default text color */
          border: 1px solid grey;
          border-radius: 5px;
          padding: 10px;
          transition: background-color 0.3s ease, color 0.3s ease;
        }
        .form-control:focus{
          background-color: #dcdcdc; /* Button background color */
          color: $color1; /* Button text color */
          border: none;
          padding: 8px 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
      }
      button {
        color: $color4;
      }
    }

    .right-foot {
      color: $color4;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      a {
        text-decoration: none;
        color: gray;
        transition: 0.5s;
        margin: 2em;
        &:hover {
          color: #fff;
        }
      }
  
      ul {
        width: 100%;
      }
  
      ul li {
        display: inline-block;
        margin: 0px 30px;
      }
  
      a i {
        font-size: 2em;
        margin: 0% 1%;
      }
    }

    .bottom{
      text-align: center;
      color: $color4;
    }
  
    @media (max-width: 720px) {
      text-align: left;
      padding: 5%;
  
      .row {
        ul li {
          display: block;
          margin: 10px 0px;
          text-align: left;
        }
  
        a i {
          margin: 0% 3%;
        }
      }
    }
  }
  