@font-face {
  font-family: "font-aksen";
  src: url("../font/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "font-subheading";
  src: url("../font/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
  font-family: "font-heading";
  src: url("../font/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "font-utama";
  src: url("../font/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "font-first";
  src: url("../font/Monoton-Regular.ttf");
}
/* Media query untuk ukuran layar besar */
@media (min-width: 950px) {
  #navbar {
    background-color: white;
  }
  #navbar .navbar-brand img {
    padding-left: 5px;
    width: 60px;
    height: 60px;
  }
  #navbar #navbarSupportedContent .active .nav-link {
    background-color: rgba(175, 182, 180, 0.6392156863);
    color: white;
  }
  #navbar #navbarSupportedContent .text-nav {
    border-left: 4px solid #76ABAE;
    margin-left: 2em;
    transition: background-color 0.3s ease-out;
  }
  #navbar #navbarSupportedContent .text-nav:hover {
    background-color: #76ABAE;
  }
  #navbar #navbarSupportedContent .text-nav a {
    color: #31363F;
    font-family: "font-utama";
    font-weight: 600;
  }
  #navbar #navbarSupportedContent .text-nav a:hover {
    color: white;
  }
  #navbar #navbarSupportedContent .users-icon {
    border: 2px solid #76ABAE;
    border-radius: 30px;
    margin-left: 2em;
    transition: background-color 0.3s ease-out;
  }
  #navbar #navbarSupportedContent .users-icon:hover {
    background-color: #76ABAE;
  }
  #navbar #navbarSupportedContent .users-icon i {
    color: #76ABAE;
  }
  #navbar #navbarSupportedContent .users-icon i:hover {
    color: white;
  }
  #navbar #navbarSupportedContent .dropdown-menu .active {
    background-color: #76ABAE;
    color: white;
  }
  #navbar #navbarSupportedContent .dropdown-menu .active:hover {
    background-color: #5a9497;
  }
  #navbar #navbarSupportedContent .form-search input {
    color: #31363F;
    border-color: #76ABAE;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
  }
  #navbar #navbarSupportedContent .form-search input :focus {
    border-color: #76ABAE;
    box-shadow: 0 0 0 0.2rem #76ABAE;
  }
  #navbar #navbarSupportedContent .form-search .btn {
    background-color: #76ABAE;
    color: white;
    font-family: font-subheading;
    font-weight: 500;
  }
  #navbar #navbarSupportedContent .form-search .btn:hover {
    background-color: #FFC470;
    border: 2px solid #76ABAE;
    color: #76ABAE;
  }
}
/* Media query untuk ukuran layar kecil*/
@media (max-width: 950px) {
  #navbar {
    background-color: #31363F;
  }
  #navbar .navbar-brand img {
    width: 60px;
    height: 60px;
  }
  #navbar #navbarSupportedContent .text-nav {
    transition: background-color 0.3s ease-out;
  }
  #navbar #navbarSupportedContent .text-nav:hover {
    border-bottom: 4px solid #76ABAE;
  }
  #navbar #navbarSupportedContent .text-nav a {
    color: white;
    font-family: "font-utama";
    font-weight: 600;
  }
  #navbar #navbarSupportedContent .text-nav a:hover {
    color: #76ABAE;
  }
  #navbar #navbarSupportedContent .users-icon {
    transition: background-color 0.3s ease-out;
  }
  #navbar #navbarSupportedContent .users-icon:hover {
    border-bottom: 4px solid #76ABAE;
  }
  #navbar #navbarSupportedContent .users-icon a {
    color: white;
  }
  #navbar #navbarSupportedContent .users-icon a:hover {
    color: #76ABAE;
  }
  #navbar #navbarSupportedContent .form-search input :focus {
    border-color: #76ABAE;
    box-shadow: 0 0 0 0.2rem rgba(210, 24, 114, 0.705);
  }
  #navbar #navbarSupportedContent .form-search .btn {
    background-color: #76ABAE;
    color: white;
    font-family: font-subheading;
    font-weight: 500;
  }
  #navbar #navbarSupportedContent .form-search .btn:hover {
    background-color: #FFC470;
    border: 2px solid #76ABAE;
    color: #76ABAE;
  }
}/*# sourceMappingURL=navbar.css.map */